*.a
*.o
*.lo
*.la
*.slo
*.raw
.deps
Makefile
Makefile.in
nohup.out
scan.log
start-test.sh
src/examples/capture/capture
src/examples/playback/playback
src/examples/rgb-example/rgb-example
src/examples/barcoder/barcoder
src/examples/scanner/scanner

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/displaytest-*.tar.gz
/stamp-h1
/libtool
/ltmain.sh
/compile
