*.a
*.o
*.lo
*.la
*.slo
.deps
Makefile
Makefile.in
nohup.out
recv-cap.txt
recv-pattern.txt
sent-cap.txt
sent-pattern.txt
start-test.sh

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/displaytest-*.tar.gz
/stamp-h1
/libtool
/ltmain.sh
/compile