*.a
*.o
*.lo
*.la
*.slo
*.raw
*.pyc
.deps
Makefile
Makefile.in
nohup.out
scan.log
start-test.sh

third_party/daala_tools/daala/

src/capture/capture
src/playback/playback
src/rgb-example/rgb-example
src/barcoder/barcoder
src/barcoder/barcode-write
src/barcoder/barcode-read
src/scanner/scanner-test

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/displaytest-*.tar.gz
/stamp-h1
/libtool
/ltmain.sh
/compile
/test-driver
*.log
*.trs
